/mesaj_kutusu/nbproject/private/
/MyMath/nbproject/private/
/MatematikSinifi/nbproject/private/
/MatematikSinifi/build/
/JavaFXApplication1/nbproject/private/
/JavaForm/nbproject/private/
/JavaForm/build/
/MyPaint/nbproject/private/
/MyPaint/build/
/MyPaint/dist/
/MyPaintClass/nbproject/private/
/MyPaintClass/build/
/MyPaintClass/dist/
/MyHashCode/nbproject/private/
/MyHashCode/build/
*.lnk
*.jpg
